<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["RBDProject.styles.css"]" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap-grid.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap-reboot.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap-utilities.css"]" />

    <RadzenTheme Theme="material" />

    @* PLANTILLA *@
    <link href="@Assets["lib/vendor/fontawesome-free/css/all.min.css"]" rel="stylesheet" type="text/css">
    <link href="@Assets["lib/css/sb-admin-2.css"]" rel="stylesheet">

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon-32x32.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    @* PLANTILLA *@
    <script src="@Assets["lib/vendor/jquery/jquery.min.js"]"></script>
    <script src="@Assets["lib/vendor/jquery-easing/jquery.easing.min.js"]"></script>
    <script src="@Assets["lib/vendor/bootstrap/js/bootstrap.bundle.min.js"]"></script>

    @* BOOTSTRAP *@
    <script src="@Assets["lib/bootstrap/js/bootstrap.js"]"></script>

    @* PERSONAL *@
    <script src="@Assets["lib/js/sb-admin-2.js"]"></script>

    @* MYJS *@
    <script src="@Assets["lib/Myjs.js"]"></script>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
