@using RBDProject.Controllers
@using RBDProject.Models;

<!-- Modal Nuevo y actualizar-->
<RBDProject.Components.Layout.Modal_Form _Title="@utility">
    @* FORMULARIO *@
    @* FORMULARIO *@
    <EditForm class="container" Model="modelo" OnValidSubmit="SendModel">
        <div class="modal-body">
            <DataAnnotationsValidator />
            <div class="mb-3 row">
                <label class="form-label">Secuencia</label>
                <InputText class="form-control" disabled="@_disabled" @bind-Value=modelo.SecCom></InputText>
                <ValidationMessage For="(() => modelo.SecCom)" />
            </div>
            <div class="mb-3 row">
                <label class="form-label">Descripcion</label>
                <InputTextArea class="form-control" disabled="@_disabled" @bind-Value=modelo.DesCom></InputTextArea>
                <ValidationMessage For="(() => modelo.DesCom)" />
            </div>
            <div class="mb-3 row">
                <label class="form-label">Impuestos</label>
                <InputNumber class="form-control" disabled="@_disabled" @bind-Value=modelo.ImpCom></InputNumber>
                <ValidationMessage For="(() => modelo.ImpCom)" />
            </div>
            <div class="mb-3 row">
                <label class="form-label">Emision</label>
                <InputDate class="form-control" disabled="true" @bind-Value=modelo.DocFec></InputDate>
                <ValidationMessage For="(() => modelo.DocFec)" />
            </div>
            <div class="mb-3 row">
                <label class="form-label">Vencimiento</label>
                <InputDate class="form-control" disabled="@_disabled" @bind-Value=modelo.FechaVec></InputDate>
                <ValidationMessage For="(() => modelo.FechaVec)" />
            </div>
            <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label">Tipos De Comprobantes</label>
                <InputSelect class="form-select" disabled="@_disabled" aria-label="Default select example" @bind-Value="modelo.CodTipocom">
                    @foreach (var ci in listaTiposComprobantes)
                    {
                        <option value="@ci.CodTipocom">@ci.NomTipocom</option>
                    }
                </InputSelect>
                <ValidationMessage For="(() => modelo.CodTipocom)" />
            </div>
        </div>

        @* BOTONES *@
        <div class="modal-footer">
            @if (utility == "Crear")
            {
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Limpiar">Limpiar</button>
            }

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary">@utility</button>
        </div>
    </EditForm>
</RBDProject.Components.Layout.Modal_Form>

<RBDProject.Components.Layout.Modal_Delete Delete="SendModel" _nombreModelo="@modelo.SecCom"></RBDProject.Components.Layout.Modal_Delete>
<RBDProject.Components.Layout.Modal_Limpiar Limpiar="Clean"></RBDProject.Components.Layout.Modal_Limpiar>


@code {
    private bool _disabled { get; set; } = false;

    [Parameter]
    public RbdComprobanteFiscal modelo { get; set; } = new RbdComprobanteFiscal();

    [Parameter]
    public List<RbdTipoComprobante> listaTiposComprobantes { get; set; } = new List<RbdTipoComprobante>();

    [Parameter]
    public string utility { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<RbdComprobanteFiscal> UpdateModel { get; set; }

    [Parameter]
    public EventCallback<RbdComprobanteFiscal> AddModel { get; set; }

    [Parameter]
    public EventCallback<RbdComprobanteFiscal> DeleteModel { get; set; }

    protected override void OnParametersSet()
    {
        _disabled = false;

        switch (utility)
        {
            case "add": utility = "Crear"; break;
            case "update": utility = "Actualizar"; break;
            case "delete": utility = "Eliminar"; break;

            case "info":
                {
                    utility = "Informacion";
                    _disabled = true;
                }
                ; break;
        }

        StateHasChanged();
    }

    public void Clean()
    {
        modelo = new RbdComprobanteFiscal();
        StateHasChanged();
    }

    public async Task SendModel()
    {
        switch (utility)
        {
            case "Crear": await AddModel.InvokeAsync(modelo); break;
            case "Actualizar": await UpdateModel.InvokeAsync(modelo); break;
            case "Eliminar": await DeleteModel.InvokeAsync(modelo); break;
        }
    }
}

