@using RBDProject.Controllers
@using RBDProject.Models;

<!-- Modal Nuevo y actualizar-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@utility Grupo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* FORMULARIO *@
            <div class="modal-body">
                <EditForm class="container" Model="modelo" OnSubmit="@(() => AddModel.InvokeAsync(modelo))">
                    <DataAnnotationsValidator />
                    <div class="mb-3 row">
                        <label class="form-label">Nombre</label>
                        <InputText class="form-control" disabled="@_disabled" @bind-Value=modelo.NomGrup></InputText>
                        <ValidationMessage For="(() => modelo.NomGrup)" />
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label">Descripcion</label>
                        <InputText class="form-control" disabled="@_disabled" @bind-Value=modelo.DesGrup></InputText>
                        <ValidationMessage For="(() => modelo.DesGrup)" />
                    </div>
                    @if (estados != null)
                    {
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="form-label">Estado</label>

                            <InputSelect class="form-select" aria-label="Default select example" @bind-Value="@modelo.CodEst">
                                @foreach (RbdEstado e in estados)
                                {
                                    <option value=@e.CodEst>@e.NomEst</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="(() => modelo.CodEst)" />
                        </div>
                    }
                </EditForm>
            </div>
            @* BOTONES *@
            <div class="modal-footer">
                @if (utility == "Crear")
                {
                    <button type="button" class="btn btn-primary" @onclick="@Clean">Limpiar</button>
                }

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                @if (utility == "Actualizar")
                {
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="@(() => UpdateModel.InvokeAsync(modelo))">@utility</button>
                }
                else if (utility == "Crear")
                {
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="@(() => AddModel.InvokeAsync(modelo))">@utility</button>
                }
                else
                {

                }
            </div>
        </div>
    </div>
</div>

@* MODAL ELIMINAR *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Grupo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Estas seguro de que deseas eliminar a @modelo.NomGrup?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@(() => DeleteModel.InvokeAsync(modelo))">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _disabled { get; set; } = false;

    [Parameter]
    public List<RbdEstado> estados { get; set; } = new List<RbdEstado>();

    [Parameter]
    public RbdGrupo modelo { get; set; } = new RbdGrupo();

    [Parameter]
    public string utility { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<RbdGrupo> UpdateModel { get; set; }

    [Parameter]
    public EventCallback<RbdGrupo> AddModel { get; set; }

    [Parameter]
    public EventCallback<RbdGrupo> DeleteModel { get; set; }

    protected override void OnParametersSet()
    {
        _disabled = false;

        switch (utility)
        {
            case "add": utility = "Crear"; break;
            case "update": utility = "Actualizar"; break;
            case "delete": utility = "Eliminar"; break;

            case "info":
                {
                    utility = "Informacion";
                    _disabled = true;
                }
                ; break;
        }

        StateHasChanged();
    }

    public async Task Clean()
    {
        modelo = new RbdGrupo();
        StateHasChanged();
    }
}