@page "/CuentasPorCobrar"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject IJSRuntime _jSRuntime

<PageTitle>Cuenta por Cobrar</PageTitle>

<div class="sticky-bottom p-2 gap-2">
    <NavLink type="button" class="btn btn-primary" href="/CXC/Pagar" Match="NavLinkMatch.All">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Pagar
    </NavLink>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idReporte">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
</div>

<section class="overflow-y-auto" style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@_listCuentasPorCobrar" GridLines=DataGridGridLines.Both ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@_selectCuentaPorCobrar>
        <Columns>
@*             <RadzenDataGridColumn Title="Opciones" Width="200px" Frozen=true Filterable="false" Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ></RadzenButton>
                    <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></RadzenButton>
                    <RadzenButton Icon="Print" Disabled=true ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </Template>
            </RadzenDataGridColumn> *@

            <RadzenDataGridColumn Property="@nameof(RbdCuentasPorCobrar.NumFact)" Width="100px" Frozen="true" Title="Factura" />
            <RadzenDataGridColumn Property="@nameof(RbdCuentasPorCobrar.FechaEmi)" Width="150px" Title="Emision" />
            <RadzenDataGridColumn Property="@nameof(RbdCuentasPorCobrar.VencPago)" Width="150px" Title="Vencimiento" />
            <RadzenDataGridColumn Property="@nameof(RbdCuentasPorCobrar.Balance)" Width="150px" Title="Balance" />
            <RadzenDataGridColumn Property="@nameof(RbdCuentasPorCobrar.TotalFact)" Width="150px" Title="Total De Factura" />
        </Columns>
    </RadzenDataGrid>
</section>

<RBDProject.Components.Modals.ModalSelectReporte CountGeneral=@(_listCuentasPorCobrar.Count) CountList="@(_selectCuentaPorCobrar.Count)" OpcionReporte="ImprimirReporte"></RBDProject.Components.Modals.ModalSelectReporte>
