@page "/Facturas"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject NavigationManager _navigation
@inject NotificationService _notificationService
@inject TooltipService _tooltipService

<div class="sticky-bottom p-2 gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            @onclick="@(() => _navigation.NavigateTo("/CrearFactura"))">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Agregar
    </button>
    <button type="button" disabled="true" class="btn btn-primary">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
    <button type="button" disabled="true" class="btn btn-primary">
        <i class="bi bi-box-arrow-up-right"></i>
        Exportar
    </button>
</div>

<section style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@_listFacturas" GridLines=DataGridGridLines.Both ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_selectedFactura>
        <Columns>
            <RadzenDataGridColumn Title="Opciones" Width="200px" Frozen=true Filterable="false" Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" Click="@(() => SendTypeModal(Options, "info"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Informacion"))"></RadzenButton>
                    <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" Click="@(() => _navigation.NavigateTo($"/CrearFactura/NumFac={Options.NumFac}"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Editar"))"></RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => SendTypeModal(Options, "delete"))" data-bs-toggle="modal" data-bs-target="#exampleModal" MouseEnter="@((args) => ShowTooltip(args, "Eliminar"))"></RadzenButton>
                    <RadzenButton Icon="Print" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(RbdFactura.NumFac)" Filterable="false" Frozen="true" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Title="NCF" Width="160px">
                <Template Context="NCF">
                    @NCF.CodNCfNavigation?.SecCom
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Cliente">
                <Template Context="Cliente">
                    @Cliente.CodCliNavigation?.NomCli
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(RbdFactura.CodTipagoNavigation.NomPago)" Title="Pago">
                <Template Context="Pago">
                    @Pago.CodTipagoNavigation.NomPago
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(RbdFactura.TotalNeto)" Title="Sub-Total" />
            <RadzenDataGridColumn Property="@nameof(RbdFactura.TotalBalance)" Title="Total" />
            <RadzenDataGridColumn Property="@nameof(RbdFactura.FechaReg)" Title="Creacion" />
            <RadzenDataGridColumn Property="@nameof(RbdFactura.CodEstNavigation.NomEst)" Title="Estado">
                <Template Context="Estado">
                    @Estado.CodEstNavigation.NomEst
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</section>
