@page "/Ciudades"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject NotificationService _notificationService
@inject TooltipService _tooltipService

<div class="sticky-bottom p-2 gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            @onclick="@(() => SendTypeModal(new RbdCiudade(), "add"))">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Agregar
    </button>
    <button type="button" class="btn btn-primary">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
    <button type="button" class="btn btn-primary">
        <i class="bi bi-box-arrow-up-right"></i>
        Exportar
    </button>
</div>

<section style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@_lisciudades" GridLines=DataGridGridLines.Both ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_selectedCiudades>
        <Columns>
            <RadzenDataGridColumn Title="Opciones" Width="200px" Frozen=true Filterable="false" Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" Click="@(() => SendTypeModal(Options, "info"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Informacion"))"></RadzenButton>
                    <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" Click="@(() => SendTypeModal(Options, "update"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Editar"))"></RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => SendTypeModal(Options, "delete"))" data-bs-toggle="modal" data-bs-target="#exampleModal" MouseEnter="@((args) => ShowTooltip(args, "Eliminar"))"></RadzenButton>
                    <RadzenButton Icon="Print" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(RbdCiudade.IdCiudad)" Filterable="false" Frozen="true" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(RbdCiudade.NomCiudad)" Title="Nombre" Width="160px" />
            <RadzenDataGridColumn Property="@nameof(RbdCiudade.CodPostal)" Title="Codigo Postal" />
        </Columns>
    </RadzenDataGrid>
</section>

@* FOOTER *@
<div class="sticky-bottom navbar gap-2 p-2 d-flex flex-row flex-nowrap align-content-end" style="background-color:#0d1b2a;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="@(() => SendTypeModal(new RbdCiudade(), "add"))">Añadir</button>
    <button type="button" class="btn btn-primary">Imprimir</button>
</div>

<RBDProject.Components.Modals.Modal_Ciudad AddModel="@Add" UpdateModel="@Update" DeleteModel="@Remove" modelo="@model" utility="@utilitymodal"></RBDProject.Components.Modals.Modal_Ciudad>