@using RBDProject.Models;
@page "/Empleados"

@rendermode InteractiveServer

@inject IHttpClientFactory _http
@inject IConfiguration _confi
@inject IJSRuntime _jSRuntime
@inject NotificationService _notificationService
@inject TooltipService _tooltipService
@inject NavigationManager _navigate

<PageTitle>Empleados</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        @if (context.User.Identity?.IsAuthenticated == null)
        {
            _navigate.NavigateTo("/");
        }
    </NotAuthorized>
</AuthorizeView>

<div class="sticky-bottom p-2 gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            @onclick="@(() => SendTypeModal(new RbdEmpleado(), "add"))">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Agregar
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idReporte">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idExportar">
        <i class="bi bi-box-arrow-up-right"></i>
        Exportar
    </button>
</div>

@* SECCION DE TABLA *@
<section style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@empleados" GridLines=DataGridGridLines.Both ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@_selectedEmpleados>
        <Columns>
            <RadzenDataGridColumn Title="Opciones" Width="200px" Frozen=true Filterable="false" Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" Click="@(() => SendTypeModal(Options, "info"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Informacion"))"></RadzenButton>
                    <RadzenButton Icon="Edit" Disabled=@(Options.CodEm <= 2) ButtonStyle="ButtonStyle.Primary" Click="@(() => SendTypeModal(Options, "update"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Editar"))"></RadzenButton>
                    <RadzenButton Icon="delete" Disabled=@(Options.CodEm<= 2) ButtonStyle="ButtonStyle.Danger" Click="@(() => SendTypeModal(Options, "delete"))" data-bs-toggle="modal" data-bs-target="#exampleModal" MouseEnter="@((args) => ShowTooltip(args, "Eliminar"))"></RadzenButton>
                    <RadzenButton Icon="Print" Disabled=@(Options.CodEm <= 2) ButtonStyle="ButtonStyle.Primary" Click="@(() => ImprimirReporteIndividual(Options))"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(RbdEmpleado.CodEm)" Filterable="false" Frozen="true" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(RbdEmpleado.IdEm)" Filterable="false" Frozen="true" Title="Codigo" Width="80px" />
            <RadzenDataGridColumn Property="@nameof(RbdEmpleado.NomEm)" Title="Nombre" />
            <RadzenDataGridColumn Property="@nameof(RbdEmpleado.DniEm)" Title="DNI" />
            <RadzenDataGridColumn Title="Estados">
                <Template Context="Estado">
                    @Estado.CodEstNavigation.NomEst
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</section>


@* COMPONENTE MODELO *@
<RBDProject.Components.Modals.Modal_Empleados modelo="model" SendTypeModal="@((m) => SendTypeModal(m.Item1, m.Item2))" utility="@utilitymodal" UpdateModel="Update" DeleteModel="Remove" AddModel="Add"
_listCiudad="_listCiudades" _listCalle="_listCalle" _listCargo="_listCargo" _listEstado="_listEstado"></RBDProject.Components.Modals.Modal_Empleados>

<RBDProject.Components.Modals.ModalSelectReporte CountGeneral=@(empleados.Count) CountList="@(_selectedEmpleados.Count)" OpcionReporte="ImprimirReporte"></RBDProject.Components.Modals.ModalSelectReporte>

<RBDProject.Components.Modals.ModalExportar CountGeneral=@(empleados.Count) CountList="@(_selectedEmpleados.Count)" OpcionExport="@((a) => ExportarDocumento(a.Item1, a.Item2))"></RBDProject.Components.Modals.ModalExportar>

