@using RBDProject.Models;
@page "/grupos"
@rendermode InteractiveServer

<section class="d-flex flex-column flex-nowrap">

    @* BUSCAR *@
    <div class="row g-3 align-items-center justify-content-end">
        <div class="col-auto">
            <input type="text" class="form-control" aria-describedby="default input example">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>

    @* SECCION DE TABLA *@
    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Creacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Modify</th>
                </tr>
            </thead>
            <tbody>
                @if (grupos == null)
                {
                    <tr>
                        <td>Cargando....</td>
                    </tr>
                }
                else if (grupos.Count == 0)
                {
                    <tr>
                        <td>No hay Datos</td>
                    </tr>
                }
                else
                {
                    @foreach (RbdGrupo G in grupos)
                    {
                        <tr>
                            <td>@G.CodEst</td>
                            <td>@G.NomGrup</td>
                            <td>@G.DesGrup</td>
                            <td>@G.FecCreacion</td>
                            <td>@G.CodEst</td>
                            <td>
                                <button class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                    </svg>
                                </button>
                                <button class="btn btn-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>

    @* OPCIONES *@
    <div>
        <button class="btn btn-primary">Añadir</button>
    </div>
</section>
