@page "/TiposPagos"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http

<RBDProject.Components.NavBars.TopNavBarSearch Search="@((args) => Search(args.Item1, args.Item2))"></RBDProject.Components.NavBars.TopNavBarSearch>

<section class="overflow-y-auto" style="height:81vh;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @if (_listPagos == null)
            {
                <tr class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </tr>
            }
            else if (_listPagos.Count == 0)
            {
                <tr> hay Datos</tr>
            }
            else
            {
                @foreach (RbdTipoPago c in _listPagos)
                {
                    <tr>
                        <td>@c.CodTipago</td>
                        <td>@c.NomPago</td>
                        <td>@c.FecCreacion</td>
                        <td>@c.CodEst</td>
                        <td class="d-flex flex-row gap-2">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="@(() => SendTypeModal(c, "info"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                                </svg>
                            </button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="@(() => SendTypeModal(c, "delete"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </button>
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="@(() => SendTypeModal(c, "update"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </button>
                            <button class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1" />
                                    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

@* FOOTER *@
<div class="sticky-bottom navbar gap-2 p-2 d-flex flex-row flex-nowrap align-content-end" style="background-color:#0d1b2a;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="@(() => SendTypeModal(new RbdTipoPago(), "add"))">Añadir</button>
    <button type="button" class="btn btn-primary">Imprimir</button>
</div>

<RBDProject.Components.Modals.Modal_TiposPagos AddModel="@Add" UpdateModel="@Update" DeleteModel="@Remove" modelo="@model" utility="@utilitymodal"></RBDProject.Components.Modals.Modal_TiposPagos>