@using RBDProject.Models;
@page "/Cargos"
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject NotificationService _notificationService
@inject TooltipService _tooltipService

<div class="sticky-bottom p-2 gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            @onclick="@(() => SendTypeModal(new RbdCargo(), "add"))">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Agregar
    </button>
    <button type="button" class="btn btn-primary">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
    <button type="button" class="btn btn-primary">
        <i class="bi bi-box-arrow-up-right"></i>
        Exportar
    </button>
</div>

@* SECCION DE TABLA *@
<section style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@cargos" GridLines=DataGridGridLines.Both ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_selectedCargos>
        <Columns>
            <RadzenDataGridColumn Title="Opciones" Width="200px" Frozen="true" Filterable="false" Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" Click="@(() => SendTypeModal(Options, "info"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Informacion"))"></RadzenButton>
                    <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" Click="@(() => SendTypeModal(Options, "update"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Editar"))"></RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => SendTypeModal(Options, "delete"))" data-bs-toggle="modal" data-bs-target="#exampleModal" MouseEnter="@((args) => ShowTooltip(args, "Eliminar"))"></RadzenButton>
                    <RadzenButton Icon="Print" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(RbdCargo.CodCar)" Filterable="false" Frozen="true" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(RbdCargo.NomCar)" Title="Nombre" Width="160px" />
            <RadzenDataGridColumn Property="@nameof(RbdCargo.DesCar)" Title="Descripcion" />
            <RadzenDataGridColumn Property="@nameof(RbdCargo.FecCreacion)" Title="Creacion" />
            <RadzenDataGridColumn Title="Estado">
                <Template Context="data">
                    @data.CodEstNavigation.NomEst
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</section>


@* COMPONENTE MODELO *@
<RBDProject.Components.Modals.Modal_Position modelo="model" utility="@utilitymodal" UpdateModel="Update" DeleteModel="Remove" AddModel="Add" _listEstados="_listEstados"></RBDProject.Components.Modals.Modal_Position>