@page "/TiposDeComprobantes"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject NotificationService _notificationService
@inject TooltipService _tooltipService
@inject IJSRuntime _jSRuntime

<div class="sticky-bottom p-2 gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            @onclick="@(() => SendTypeModal(new RbdTipoComprobante(), "add"))">
        <i class="bi bi-plus-circle bi-sm mr-2 text-gray-400"></i>
        Agregar
    </button>
    <button type="button" disabled="true" class="btn btn-primary">
        <i class="bi bi-printer mr-2 text-gray-400"></i>
        Imprimir
    </button>
    <button type="button" disabled="true" class="btn btn-primary">
        <i class="bi bi-box-arrow-up-right"></i>
        Exportar
    </button>
</div>

@* TABLA PERO VERSION RADZEN *@
<section style="height:81vh;">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@_tipoComprobante" GridLines=DataGridGridLines.Both  ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_selectTipoComprobante>
        <Columns>
            <RadzenDataGridColumn Title="Opciones" Width="200px" Filterable="false" Frozen=true Sortable="false">
                <Template Context="Options">
                    <RadzenButton Icon="error" ButtonStyle="ButtonStyle.Success" Click="@(() => SendTypeModal(Options, "info"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Informacion"))"></RadzenButton>
                    <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" Click="@(() => SendTypeModal(Options, "update"))" data-bs-toggle="modal" data-bs-target="#staticBackdrop" MouseEnter="@((args) => ShowTooltip(args, "Editar"))"></RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => SendTypeModal(Options, "delete"))" data-bs-toggle="modal" data-bs-target="#exampleModal" MouseEnter="@((args) => ShowTooltip(args, "Elimiar"))"></RadzenButton>
                    <RadzenButton Icon="Print" Disabled=true ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(RbdTipoComprobante.CodTipocom)" Filterable="false" Frozen="true" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(RbdTipoComprobante.NomTipocom)" Title="Nombre" Width="160px" />
            <RadzenDataGridColumn Property="@nameof(RbdTipoComprobante.DesTipocom)" Title="Descripcion" />
        </Columns>
    </RadzenDataGrid>
</section>

@* MODAL *@
<RBDProject.Components.Modals.Modal_TipoComprobante AddModel="Post" DeleteModel="Delete" UpdateModel="Put" modelo="@model" utility="@utilitymodel"></RBDProject.Components.Modals.Modal_TipoComprobante>